body { background: url(img/fon.png);
}
#body{margin-left: auto;
    margin-right: auto;max-width: 1280px}
header {font:40px "Courier New"; letter-spacing:5px;color:white;}
#pdown {font:15px "Courier New"; letter-spacing:5px;color:white;margin-top: 0px}
ul li a {font:10px "Courier New"; text-decoration:none; color: white;padding-top: 3px;}
ul{position: absolute; top: -5px; right:0px; 
}
li {height: 20px}
body header p {text-align: center;margin-top: 25px;}
#line {position:absolute;margin-top: 16px;border-style: dotted ;border-width:1px;border-color: white; 
z-index: -1;right: 0px}
#menu {margin-top: 20px;font: 20px "Courier New";color:white;font-weight: bold; z-index: 1000; text-align: center}
#menutext {


    }
a {padding-left: 50px;
padding-right: 50px;}

#me {position: absolute;padding:65px;}
#left {border-style: dotted ;border-width:1px;border-color: white; margin: 40px;float:left;}
#right {border-style: dotted ;border-width:1px;border-color: white; margin: 40px;float:right;}
article { text-align: center}
#maintext {position: absolute; margin:10px; text-align: left;font:20px "Arial"; letter-spacing:2px;color:black; 
margin-top:40px;}
p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }

footer {position: absolute;bottom: 30px;right:40px;font:10px "Courier New"; letter-spacing:2px;color:gray;text-align: center;}
